{% extends 'modelo.html' %}

{% load static %}
{% block title %}
<title>Cadastro de Usuário</title>
{% endblock %}
{% block corpo %}
<div class="content"></div>
<div class="container" id="titul">


    <P class="lead"> Confirme para excluir o registro </P>



    <div class="row">
        <div class="col-sm-5">

            <form action="" method="POST">
                Deseja Excluir o registro: <strong>{{object}}</strong>


                {% csrf_token %}
                {{ form.as_p }}
        </div>
    </div>
    <button type="submit" class="btn-danger btn-sm">Excluir</button>
    </form>
    <a href="{% url 'lista-campo' %}"><button id="btn2" class="btn-dark btn-sm">Voltar</button></a>
</div>



{% endblock %}